 <p>
            <label>CPU $</label>
            <input type="number" name="cpu" required>
            <label>RAM $</label>
            <input type="number" name="ram" required>
        </p>
        <p>
            <label>GPU $</label>
            <input type="number" name="gpu" required>
            <label>Motherboard $</label>
            <input type="number" name="motherboard" required>
        </p>
        <p>
            <label>Case $</label>
            <input type="number" name="case" required>
            <label>Storage $</label>
            <input type="number" name="storage" required>
        </p>
        <p>
            <label>CPU Cooler $</label>
            <input type="number" name="cooler" required>
            <label>Power Supply $</label>
            <input type="number" name="psu" required>
        </p>
        <h3>Select your intended use below</h3>
        
        <p>
            <label for="gaming">Gaming</label>
            <input type="radio" id="gaming" name="intendedUse" required value="gaming">
            <label for="productivity">Productivity</label>
            <input type="radio" id="productivity" name="intendedUse" required value="productivity">
        </p>