 {{>navigation}}
{{#if username}}
<h1>{{username}}'s Profile</h1>
{{/if}}

    {{#if budget}}
    <p><b>Current Total Budget</b>: ${{budget}}</p>
    {{/if}}

    {{#if intendedUse}}
    <p><b>Intended PC Use</b>: {{intendedUse}}</p>
    {{/if}}

    <h2>Previous builds: </h2>
    

    <div>
        <table>
            <tr>
                <th>Name </th>
                <th>Price</th>
            </tr>
            {{#each pcBuilds}}
            {{>build}}
            {{/each}}
        </table>
            <p>
                <a href="/home"><button type="button">Back</button></a>
            
             <a href="viewMore"><button>Build Details</button></a>
            <a href="/editProfile"><button>Edit Profile</button></a>
        </p>
    </div>
        
  
   
   