<h1>Welcome to PC Build3r!!!</h1>
    <form action="/signIn" method="get">
        <button type="submit">Sign in</button>
    </form>
    
    <h2>Don't have an account <a href="/register">Register</a></h2>
    <h3>In PC Build3r you can:</h3>
    <ul>
        <li>Enter components of a previous build</li>
        <li>Set preferences for PCs to build in the future</li>
    </ul>