/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    font-size: 22px;
    background-color: black;
    color: white;
}

.navlist{
    margin: 0;
}

.navitem{
    display: inline-block;
    
}

.navitem a{
    display: inline-block;
    padding: 10px 20px;
    color: white;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: #dadada;
    max-height:  500px;

}

.button {
    display: inline-block;
    background-color: black;
    padding: 10px;
}

.button a{
    color: white;
}

button{
    padding: 10px 70px;
    color: white;
    background-color: black;
    margin: 10px;
}

table,th,td,tr{
    background-color: gold;
    border: 1px solid black;
    color: black;
    padding: 5px;

    margin-top: 10px;
}
#error{
    color: red;
}

input{
    padding: 5px;
}
label{
    margin: 5px;
}

button a{
    color: white;
}
.navlist a{
    color: white;
}